<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<pluginMetaData path="dynamic-lookup-gateway">
    <name>Lookup Table Management System</name>
    <author>Daniel Svanstedt, Thai Tran</author>
    <pluginVersion>2.0.0</pluginVersion>
    <mirthVersion>4.5.3, 4.5.4, 4.6.0</mirthVersion>
    <url>https://www.innovarhealthcare.com</url>
    <description>This plugin provides a centralized repository for key-value pairs used across channel</description>
    <clientClasses>
        <string>com.mirth.connect.plugins.dynamiclookup.client.plugin.LookupTableClientPlugin</string>
    </clientClasses>
    <serverClasses>
        <string>com.mirth.connect.plugins.dynamiclookup.server.plugin.LookupTableServicePlugin</string>
    </serverClasses>
    <library path="dynamic-lookup-gateway-server.jar" type="SERVER"/>
    <library path="dynamic-lookup-gateway-shared.jar" type="SHARED"/>
    <library path="dynamic-lookup-gateway-client.jar" type="CLIENT"/>
    <library path="libs/jfreechart-1.5.6.jar" type="CLIENT"/>
    <library path="libs/opencsv-5.9.jar" type="CLIENT"/>
    <library path="libs/opencsv-5.9.jar" type="SHARED"/>
    <apiProvider name="com.mirth.connect.plugins.dynamiclookup.shared.interfaces.LookupTableServletInterface" type="SERVLET_INTERFACE"/>
    <apiProvider name="com.mirth.connect.plugins.dynamiclookup.server.servlet.LookupTableServlet" type="SERVER_CLASS"/>
    <templateClassName>com.mirth.connect.plugins.dynamiclookup.client.plugin.LookupTableReferencePlugin</templateClassName>
    <userutilPackages>
        <string>com.mirth.connect.plugins.dynamiclookup.server.userutil</string>
    </userutilPackages>
    <sqlMapConfigs>
        <entry>
            <string>all</string>
            <string>mapper/lookup.xml</string>
        </entry>
        <entry>
            <string>derby</string>
            <string>mapper/derby-lookup.xml</string>
        </entry>
        <entry>
            <string>mysql</string>
            <string>mapper/mysql-lookup.xml</string>
        </entry>
        <entry>
            <string>oracle</string>
            <string>mapper/oracle-lookup.xml</string>
        </entry>
        <entry>
            <string>postgres</string>
            <string>mapper/postgres-lookup.xml</string>
        </entry>
        <entry>
            <string>sqlserver</string>
            <string>mapper/sqlserver-lookup.xml</string>
        </entry>
    </sqlMapConfigs>

</pluginMetaData>
