.dashboardListCard {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;

    & > * {
        min-height: 0;
        min-width: 0;
    }
}

.dashboardList {
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

.toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.separator {
    width: 1px;
    height: 1.5rem;
    background-color: rgba(0, 0, 0, 0.176);
    margin: 0 0.5rem;
}

.dashboardSummary {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.statsModeSelector {
    margin-left: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
