.dashboardListCard {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;

    &>* {
        min-height: 0;
        min-width: 0;
    }
}

.dashboardList {
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

.toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.separator {
    width: 1px;
    height: 1.5rem;
    background-color: rgba(0, 0, 0, 0.176);
    margin: 0 0.5rem;
}

.dashboardSummary {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.statsModeSelector {
    margin-left: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.expanderButton {
    position: relative;
    top: -0.15rem;
    /* Emulating a Windows / Java +/- expander style */
    display: inline-block;
    width: 11px;
    height: 11px;
    padding: 0;
    border: 1px solid #666;
    background-color: #f0f0f0;
    font-size: 8px;
    line-height: 8px;
    text-align: center;
    z-index: 10;
}

.dashboardTable td, .dashboardTable th {
    /* lines should never wrap - only ellipsis */
    white-space: nowrap;
    text-overflow: ellipsis;
    max-height: 1rem;
}

.channelNameCell {
    display: flex;
}

.treePrefix, .channelNameText {
    display: inline-block;
}

.channelNameText {
    margin-left: 0.4rem;
}

.channelIcon {
    position: relative;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: 0.2rem;
    z-index: 10;
}

.treePrefixSymbol {
    position: relative;
    top: -1.25rem;
    left: 0.4rem;
    display: inline-block;
    width: 1rem;
    height: 2.1rem;
    margin-left: 16px;
    margin-bottom: -1rem;
    z-index: 5;

    /*
    &[data-symbol-type="blank"] {
        No additional styling needed for blank
    }
    */

    &[data-symbol-type="continue"] {
        /* Vertical line to indicate continuation */
        border-left: 1px dotted #666;
    }

    &[data-symbol-type="last-child"], &[data-symbol-type="intermediate-child"] {
        /* └ style drawing */
        border-bottom: 1px dotted #666;
        border-left: 1px dotted #666;
    }
}
