/* splits in two columns: sidebar and main content */
.standardLayout {
    display: block;
}

@media screen and (min-width: 768px) {
    .standardLayout {
        height: 100%;
        display: grid;
        grid-template-rows: none;
        grid-template-columns: auto 1fr;
    }
}

.titleBox {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.3) 95%, rgba(255, 255, 255, 0.6) 100%);
    padding: 1rem 1rem 0.5rem 1rem;
}

.pageTitle {
    color: #333;
    font-size: 1.5rem;
}

/* Title bar at the top, then content area */
.clientArea {
    display: block;
}

.clientContent {
    padding: 1rem;
}

@media screen and (min-width: 768px) {
    .clientArea {
        height: 100%;
        display: grid;
        grid-template-rows: auto 1fr;
    }

    .clientContent {
        height: 100%;
        overflow: auto;
    }
}
